<!DOCTYPE html>
<html>
{% include head-grid.html %}
<style>

  </style>
  <body>
  {% include header.html %}
	 <div class="wrapper">
		<div class="box a">Ant eaters eat ants.<br>
     <img src="images/pas souvent.png"; alt="ça n'arrive pas souvent"; height=300px;>
    </div>
		<div class="box b">
      Bees make hives and honey.
      <p>Bears eat honey and bees.</p>
      <p>Babies wet diapers and swallow down baby pins.</p>
    </div>
		<div class="box c">Cats are cool if they're cats.</div>
		<div class="box d">Dogs have:
      <ol>
        <li>dog ears</li>
        <li>four paws</li>
      </ol>


    </div>
		<div class="box e"><h5 style="text-align: center";>Eels tend to stretch out more than certain other species.</h5></div>
		<div class="box f">Frog legs for dinner! If you have enough space for them.</div>
	</div>
</body>
</html>